* {
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
    font-size: 18px;
}

body {
    display: grid;
    grid-template-rows: 100px 4fr;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: red;
}

.card-container {
    background-color: blue;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
}

.card {
    background-color: green;
    display: grid;
    grid-template-rows: repeat(5, min(50px, 1fr));
    /* height: 250px; */
    padding: 20px;
    /* width: 300px; */
}

.card-info-container {
    align-self: center;
    display: grid;
    grid-template-columns: 100px auto;
}

.card-title {
    font-size: 30px;
    font-weight: 900;
    place-self: center;
}

.card-subtitle {
    font-weight: 900;
}

.card-button-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-button {
    height: 30px;
    place-self: center;
    width: 100px;
}



.modal-background {
    background-color: #0000001A;
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.modal-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    z-index: 2;
}

form {
    background-color: pink;
    border: 2px solid black;
    padding: 20px;
    width: 400px;
}

.modal-content p {
    margin: 10px 0;
    text-align: center;
}

.modal-content p:last-of-type {
    margin-top: 60px;
}

.modal-content span {
    text-align: left;
    display: inline-block;
    width: 200px;
}

.modal-content button {
    width: 200px;
}
