* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: red;
}

.card-container {
    background-color: blue;
}

.card-title {
    font-size: 30px;
}

.card-subtitle {
    font-size: 20px;
}

.card {
    background-color: green;
    height: 200px;
    width: 200px;
}